// input
.input {
  display: block;
  width: 300px;
  margin-bottom: 20px; // delete
}

// selectBox
.select-box {
  margin-bottom: 20px; // delete
}   

// ImageUpload
.image-uploader {
  margin-bottom: 20px; // delete  
}

